body{
    background-color: rgb(195, 202, 202);
    font-family: 'Times New Roman', Times, serif;

}
header{
    text-align: center;
    background-color: aqua;
    padding: 10px;
}
nav{
    background-color: rgb(238, 108, 238);
    text-align: center;
    padding:10px
    ;
}
 nav a{
    width: 30px;
    font-size: large;
    color:rgb(252, 248, 248) ;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}
nav a:hover{
    color: black;
    text-decoration: underline;
    font-size: larger;
}
section{
    background-color: rgb(230, 241, 251);
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 0px 0px rgb(186, 182, 182);
    transition: transform 0.3s is linear ;}

    section:hover{
        transform: rotatex(50deg);
        transform: scale(1.05,1.10);
    }

footer{
    background-color: aqua;
    padding: 20px;
    text-align: center;
}